<h1>CREE UN MODELO</h1>



<form action="/modeloCarro/crear-modeloCarro" method="post">
    <label for="nmodelo">Nombre del modelo</label>
    <input id="nmodelo" type="text" name="nmodelo"><br><br>

    <label for="precio">Precio del modelo</label>
    <input id="precio" type="text" name="precio"><br><br>

    <label for="anio">Año de lanzamiento</label>
    <input id="anio" type="text" name="anio"><br><br>

    <label for="puertas">Numero de puertas</label>
    <input id="puertas" type="text" name="puertas"><br><br>

    <button type="submit">Crear modelo</button>
    <button type="reset">Limpiar</button>
</form>

<a href="/modeloCarro/modelosCarro">
    <button>Cancelar</button>
</a>

